.main {
  cursor: pointer;
  overflow: hidden;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 50% 30%, #ec85ff 0%, #7331ff 70%);
  box-shadow: 0 4px 6px 0 rgba(166, 35, 248, 0),
    0 5px 10px 0 rgba(121, 19, 255, 0.5),
    inset 0 0 1px 0 rgba(255, 255, 255, 0.9), inset 0 1px 7px 0 #fda4fa;
  transform: none;
}

.in {
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle at 50% 90%,
    #85d2ff 0%,
    rgba(115, 49, 255, 0) 70%
  );
}
